/*Main Site Sass*/
/*common variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
a.text-link-white {
  color: #ffffff;
  text-decoration: underline; }

a.text-link-green {
  color: #41A940;
  text-decoration: underline; }

a.text-link-blue {
  color: #156E96;
  text-decoration: underline; }

a.text-link-pink {
  color: #C8006E;
  text-decoration: underline; }

a.button-black {
  border-color: #231F20;
  background-color: transparent;
  color: #231F20; }

a.button-black-block {
  border-color: #231F20;
  background-color: transparent;
  color: #231F20; }

a.button-black-block-back {
  border-color: #231F20;
  background-color: transparent;
  color: #231F20; }

a.button-black-block-no-icon {
  border-color: #231F20;
  background-color: transparent;
  color: #231F20; }

a.button-black-solid-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #231F20, #51534A) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #231F20, #51534A) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #231F20, #51534A) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #231F20, #51534A) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #231F20, #51534A) ;
  /* Standard syntax */ }

a.button-black-solid-block-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #231F20, #51534A) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #231F20, #51534A) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #231F20, #51534A) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #231F20, #51534A) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #231F20, #51534A) ;
  /* Standard syntax */ }

a.button-white {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff; }

a.button-white-block {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff; }

a.button-white-back {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff; }

a.button-white-block-back {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff; }

a.button-white-solid-invert {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #231F20; }

a.button-green {
  border-color: #41A940;
  background-color: transparent;
  color: #41A940; }

a.button-green-block {
  border-color: #41A940;
  background-color: transparent;
  color: #41A940; }

a.button-green-back {
  border-color: #41A940;
  background-color: transparent;
  color: #41A940; }

a.button-green-block-back {
  border-color: #41A940;
  background-color: transparent;
  color: #41A940; }

a.button-green-no-arrow {
  border-color: #41A940;
  background-color: transparent;
  color: #41A940; }

a.button-green-solid-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #007600, #00dc00) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #007600, #00dc00) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #007600, #00dc00) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #007600, #00dc00) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #007600, #00dc00) ;
  /* Standard syntax */ }

a.button-green-solid-block-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #007600, #00dc00) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #007600, #00dc00) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #007600, #00dc00) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #007600, #00dc00) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #007600, #00dc00) ;
  /* Standard syntax */ }

a.button-blue {
  border-color: #156E96;
  background-color: transparent;
  color: #156E96; }

a.button-blue-block {
  border-color: #156E96;
  background-color: transparent;
  color: #156E96; }

a.button-blue-back {
  border-color: #156E96;
  background-color: transparent;
  color: #156E96; }

a.button-blue-block-back {
  border-color: #156E96;
  background-color: transparent;
  color: #156E96; }

a.button-blue-solid-invert {
  border-color: #156E96;
  background-color: #156E96;
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #003261, #156E96) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #003261, #156E96) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #003261, #156E96) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #003261, #156E96) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #003261, #156E96) ;
  /* Standard syntax */ }

a.button-blue-solid-block-invert {
  border-color: #156E96;
  background-color: #156E96;
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #003261, #156E96) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #003261, #156E96) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #003261, #156E96) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #003261, #156E96) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #003261, #156E96) ;
  /* Standard syntax */ }

a.button-pink {
  border-color: #C8006E;
  background-color: transparent;
  color: #C8006E; }

a.button-pink-block {
  border-color: #C8006E;
  background-color: transparent;
  color: #C8006E; }

a.button-pink-back {
  border-color: #C8006E;
  background-color: transparent;
  color: #C8006E; }

a.button-pink-block-back {
  border-color: #C8006E;
  background-color: transparent;
  color: #C8006E; }

a.button-pink-solid-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #990069, #C8006E) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #990069, #C8006E) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #990069, #C8006E) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #990069, #C8006E) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #990069, #C8006E) ;
  /* Standard syntax */ }

a.button-pink-solid-block-invert {
  color: #ffffff;
  background-image: -ms-linear-gradient(left, #990069, #C8006E) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -webkit-linear-gradient(left, #990069, #C8006E) ;
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(right, #990069, #C8006E) ;
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(right, #990069, #C8006E) ;
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to right, #990069, #C8006E) ;
  /* Standard syntax */ }

/*Main Site Sass*/
/*common variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
.h1 {
  font-size: 2.9em;
  line-height: 1.3;
  font-weight: 300; }

.h2 {
  font-size: 1.9em;
  line-height: 1.3;
  font-weight: 300; }

.h3 {
  font-size: 1.4em;
  line-height: 1.3;
  font-weight: 300; }

.h4 {
  font-size: 1.25em;
  line-height: 1.3;
  font-weight: 300; }

.h5 {
  font-size: 1.12em;
  line-height: 1.3;
  font-weight: 300; }

.h6 {
  font-size: 1em;
  line-height: 1.3;
  font-weight: 300; }

.strong {
  font-weight: bold; }

/*Main Site Sass*/
/*common variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
/*Base colors*/
/*Page Default Colours*/
/*Base Variables*/
.serif {
  font-family: AdelleSAGE, sans-serif; }

.text-xs {
  font-size: 0.6em; }

.text-sm {
  font-size: 1.0em; }
  @media (max-width: 767px) {
    .text-sm {
      font-size: 0.6em; } }

.text-lg {
  font-size: 2.0em; }
  @media (max-width: 767px) {
    .text-lg {
      font-size: 1.5em; } }

.text-xlg {
  font-size: 2.5em; }
  @media (max-width: 767px) {
    .text-xlg {
      font-size: 2.0em; } }

.text-xxlg {
  font-size: 3em; }
  @media (max-width: 767px) {
    .text-xxlg {
      font-size: 2.5em; } }

.text-xxxlg {
  font-size: 4em; }
  @media (max-width: 767px) {
    .text-xxxlg {
      font-size: 3em; } }
